body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 5px;
    background-image: url('wsu.jpg'); /*Make sure this image is linked properly*/
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Set background color with opacity */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banner{
    background-color: #393734;
    color: #fff;
    padding: 0px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.banner img {
    height: 70px; /* Adjust height of logo as needed */
    cursor: pointer; /* Add cursor pointer for clickable behavior */
}

.banner h1 {
    margin: 0;
}

h2{
    padding-top: 10pt;
    padding-bottom: 15pt;
    padding-left: 15pt;
    background-color: #393734;
}

h1{
    line-height: 26px;

}

.Book{
    padding-bottom: 12px;
}

.bookTitle{
    font-size: 14pt;
    color: black;
    text-decoration: none;
}

.bookDescription{
    font-size: 10pt;
    color: lightslategray;
}