/* Sign up and Log in */
.SignUp, .Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-container {
  width: 500px;
  border: 1px solid rgba(0, 0, .125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

/* Add spacing between elements inside .sign-container */
.sign-container > * {
  margin-bottom: 15px; /* Adjust as needed */
}

/* Add specific styling for form elements */
.sign-container form {
  width: 100%;
}

.sign-container form div {
  width: 100%;
  margin-left: 10px;
}

.sign-container label {
  display: block;
  font-weight: bold;
}

.sign-container input {
  width: calc(100% - 20px); /* Subtract padding from width */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.sign-container button {
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.sign-container button:hover {
  background-color: #0056b3;
}

.sign-container p {
  text-align: center;
}

/* Add specific styling for the link */
.sign-container a {
  display: block;
  text-align: center;
}


.CreateBook {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ShowBookDetails {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.UpdateBookInfo {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ShowBookList {
  background-color: #2c3e50;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
}

/* BookList Styles */
.list {
  display: grid;
  margin: 20px auto 50px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
  overflow: auto;
}

.card-container {
  width: 200px;
  height: auto;
  border: 1px solid rgba(0, 0, .125);
  margin: 0 auto;
  border-radius: 10px;
  overflow-x: auto;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

.book-thumbnail {
  width: 100%; /* Make the image width 100% of its container */
  height: auto; /* Maintain the aspect ratio */
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

.CreateBook, .ShowBookDetails, .UpdateBookInfo, .ShowBookList, .SignUp, .Login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container for link buttons */
.link-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing between container and other elements */
}

/* Style for link buttons */
.link-container .btn {
  margin-right: 10px; /* Adjust spacing between buttons */
}

/* CSS for the search bar */
.search-bar {
  margin-bottom: 20px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}